<h1>Members list</h1>
<div>
	<a href="#newMember">Add member</a>	
</div><br>
<div>Select type: <select ng-model="types.selectedType" ng-options="type.type for type in types.availableTypes track by type.id" required></select></div>
<br>
<div>
	<table>
		<tr>
			<td style="width:30px"><b>id</b></td>
			<td style="width:200px"><b>e-mail</b></td>
			<td style="width:100px"><b>type</b></td>
			<td style="width:50px"></td>
			<td style="width:50px"></td>
			<td style="width:50px"></td>
		</tr>
        <tr ng-repeat="user in users | users:types.selectedType.type">
        <!--<tr ng-repeat="user in users">-->
            <td>{{user.Id}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Type}}</td>
            <td><a href="#viewMember/{{user.Id}}">View</a></td>
            <td><a href="#editMember/{{user.Id}}">Edit</a></td>
            <td><a href="#unregisterMember/{{user.Id}}">Unregister</a></td>
        </tr>
	</table>
</div>